<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Careers Website</title>
  <style>
    #container{
      max-width: 700px;
      margin: 0 auto;
    }
    h1{
      font-size:40px;
      font-family: Roboto;
      font-weight:normal;
      color:#ff0000;
      text: align center;
    }
    h2{
      font-size:32px;
      font-faobject: fit cover;    font-weight:normal;
      color:#990000;
      text: align center;
    }
    #banner{
      width: 100%;
      height: 200px;
      object-fit:cover;
    }
    p{
      font-size:20px;
      font-family: Roboto;
      font-weight:bold;
      color:#757575;
      
    }
    #contact_us_container{
      text-align:center;
    }
    .bodytext{
      font-size:26px;
      font-family: Roboto;
      font-weight:normal;
      color:#555500;
    }
    
  </style>
</head>
<body>
  <div id="container">
  <h1>cacaBoom Careers</h1>
  <img id="banner" src="static/banner.jpg">
  <h2>About cacaBoom</h2>
  <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Leo in vitae turpis massa sed elementum tempus egestas sed. Diam sollicitudin tempor id eu nisl. Commodo nulla facilisi nullam vehicula. Sed nisi lacus sed viverra tellus in. Tincidunt praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. At tellus at urna condimentum mattis pellentesque id. Purus gravida quis blandit turpis cursus in hac habitasse. Malesuada pellentesque elit eget gravida cum. Eget egestas purus viverra accumsan in nisl. Lacus vel facilisis volutpat est velit egestas dui id ornare.

Urna neque viverra justo nec ultrices dui. Sed elementum tempus egestas sed. Ultricies tristique nulla aliquet enim tortor at auctor urna nunc. Nibh tortor id aliquet lectus proin. Duis at consectetur lorem donec massa sapien faucibus. Condimentum mattis pellentesque id nibh tortor id. Massa tempor nec feugiat nisl pretium fusce id. Lacus luctus accumsan tortor posuere ac ut consequat. Vulputate dignissim suspendisse in est ante in. Massa enim nec dui nunc. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Proin fermentum leo vel orci porta non. Nunc pulvinar sapien et ligula ullamcorper malesuada. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue. Nibh mauris cursus mattis molestie a iaculis at. Consequat ac felis donec et. Ut faucibus pulvinar elementum integer enim. Lectus quam id leo in vitae turpis massa sed.

Nibh tortor id aliquet lectus proin nibh nisl. Eu sem integer vitae justo eget magna fermentum iaculis eu. Tincidunt dui ut ornare lectus sit amet. Libero nunc consequat interdum varius sit amet mattis. Mi in nulla posuere sollicitudin aliquam ultrices. Vitae proin sagittis nisl rhoncus mattis rhoncus urna. Justo nec ultrices dui sapien. Mattis molestie a iaculis at erat pellentesque adipiscing commodo elit. Eleifend donec pretium vulputate sapien nec sagittis. Est ultricies integer quis auctor elit. Fermentum odio eu feugiat pretium nibh ipsum. Facilisis gravida neque convallis a cras semper auctor neque. Amet nisl suscipit adipiscing bibendum est ultricies. Volutpat diam ut venenatis tellus in metus vulputate. Gravida cum sociis natoque penatibus et. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut. Mauris pharetra et ultrices neque ornare aenean euismod elementum.

Sapien et ligula ullamcorper malesuada proin libero. Vitae suscipit tellus mauris a. Est ultricies integer quis auctor elit sed. Tortor at auctor urna nunc id cursus. Tellus rutrum tellus pellentesque eu. Malesuada bibendum arcu vitae elementum curabitur vitae nunc sed. Amet venenatis urna cursus eget nunc scelerisque viverra. Lorem sed risus ultricies tristique. Arcu dui vivamus arcu felis bibendum ut tristique. Magna etiam tempor orci eu lobortis. Ridiculus mus mauris vitae ultricies leo integer malesuada. Cras adipiscing enim eu turpis egestas. Ultrices in iaculis nunc sed. Semper feugiat nibh sed pulvinar proin gravida. Pharetra magna ac placerat vestibulum lectus. Sem fringilla ut morbi tincidunt augue interdum velit euismod in. Enim nunc faucibus a pellentesque sit. Nibh ipsum consequat nisl vel pretium lectus. Felis eget nunc lobortis mattis aliquam. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus.

Risus at ultrices mi tempus imperdiet nulla malesuada. Felis eget velit aliquet sagittis. Vitae elementum curabitur vitae nunc sed velit. Netus et malesuada fames ac turpis egestas integer eget aliquet. Luctus accumsan tortor posuere ac ut consequat semper viverra nam. At auctor urna nunc id cursus. Vitae et leo duis ut diam quam nulla porttitor massa. Quam adipiscing vitae proin sagittis nisl rhoncus. Risus commodo viverra maecenas accumsan lacus vel. Scelerisque in dictum non consectetur a erat nam at. Ultrices in iaculis nunc sed augue lacus viverra vitae. Bibendum at varius vel pharetra. Eu lobortis elementum nibh tellus molestie nunc non. Et netus et malesuada fames ac turpis egestas. Nulla pellentesque dignissim enim sit amet venenatis urna cursus eget. Lacinia at quis risus sed vulputate. Ultrices dui sapien eget mi proin sed libero. Ornare arcu dui vivamus arcu felis bibendum. Aenean vel elit scelerisque mauris.</p>
  <h2>Open Positions</h2>
  <p class="bodytext">TODO - Show the jobs here</p>
  <div id="contact_us_container">
    <button>Contact Us</button>
    <p>Copyright 2023 cacaBoom</p>
  </div>
  </div>
</body>
</html>
